.one-third-column {
  width: 33.333333%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.card-image {
    display: table;
    height: 120px;
    width: 100%;
    border-radius: 4px;
}

.card-image .card-image-cell {
    display: table-cell;
    vertical-align: middle;
}

.card-image h3 {
    margin: 0;
    font-size: 1.5em;
    color: #7a6a4a;
}

.card-image a {
    color: #7a6a4a;
}

.card-description {
    height: 3em;
    overflow: hidden;
}

.card:hover,
.card:active {
  text-decoration: none;
}

.card .thumbnail {
    border: 1px solid rgba(199,183,153,0.3);
    border-bottom-color: rgba(199,183,153,0.5);
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(199,183,153,0.1),0 5px 10px rgba(199,183,153,0.1);
    -webkit-transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    opacity: 0.8;
    overflow-x: hidden;
}

.card .thumbnail:hover{
    border-color:rgba(199,183,153,0.5) rgba(199,183,153,0.5) rgba(199,183,153,0.7);
    box-shadow:0 2px 4px rgba(199,183,153,0.1),0 10px 18px rgba(199,183,153,0.2);
    opacity: 1;
}

.card .thumbnail:hover .card-title a{
    color:#7a6a4a;
    text-decoration:none;
}

.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #f5f2e8;
  border: 1px solid #c8b593;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out
}

.thumbnail .caption {
  padding: 9px;
  color: #7a6a4a;
}

.card-text {
  font-size: 0.75em;
  display: inline;
}

.card-text .meta-info {
    margin-right: 10px;
}
